// vars
$dark: #000000;
$light: #ffffff;
$accentLight: #e6e6e6;
$accentDark: #333333;
$warning: #ff1755;


// Mixins

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e){
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

// fonts

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $dark;
    font-weight: 400;
    font-style: normal;
}

header {

    div nav a {
        color: $light !important;
        text-decoration: none;
        @include transition(.4 easy-in-out);
        cursor: pointer;
      
        &:hover{
          color: $warning;
          text-decoration: none;
          @include transition(.4 easy-in-out);
        }
      }

}

  
  .container-fluid {
    line-height: 24px;
  }

  footer {
      nav a {
          color: $accentDark;
      }
  }