@import '_config.scss';

header {
    position: relative;
    display: block;
    width: 100%;
    background: $dark;
    color: $light;
    height: 90px;
    
    .logo{
        color: $warning; 
    }
}
a {
    text-decoration: none;
}